@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;400;500;600;700;900&display=swap');

:root{
    --orange-color:#F2C94C;
    --blue-color:#4554DC;
    --grey-color:#F9F9FF;
    --dark-color:#0A536A;
    --black-color:#313238;
    --light-blue-color: linear-gradient(90deg, #2AC4A0 0%, #6C77EF 100%);

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
  }

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}
li{
  list-style: none;
  
}
a{
  text-decoration: none;
}
.btn{
  padding: 16px 32px;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.btn.dark {
  background: var(--dark-color);
}

.btn.light {
  background: var(--light-blue-color);
}

.nav-btn:hover{
  background: var(--orange-color)!important;
  color: var(--dark-color);
}

.btn.new-btn{
  background: #7D72FF !important;
}

.btn.enrol-icon::before {
  content: url("assets/icons/enrol-icon.svg");
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.btn.enrol-icon{
  padding-left: 60px;
}

.btn.new-btn:hover{
  background: var(--orange-color) !important;
  
}

/* header */
header{
  background: linear-gradient(113.78deg, #1E282B 0%, #151A43 99.45%);
  height: 100vh;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 36px;
  z-index: 100;
}

nav .logo{
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}
nav .logo span{
  color: #F2C94C;
}

nav ul{
  display: flex;
  align-items: center;
  gap: 60px;
}

nav ul li a{
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

nav ul li a:hover{
  color: var(--orange-color);
}



.hero-section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.achievement-cards{
  display: none;
}

.hero-section .left h1{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 118%;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: -5px;
}

.hero-section .left h1 span{
  color: #F2C94C;
}

.hero-section .left p{
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
margin:28px 0;
}

/* Testimonials Section */

section{
  margin-top: 100px;
}

h2{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 120%;
  margin: 0;
  color: var(--dark-color);
}

h2.light{
  color: #ffffff;
}

section p {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color:var(--black-color);
  margin: 15px 0;
}

.testimonials-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

.testimonials-section .mobile-btn {
  display: none;
}

.testimonials-section .testimonial-card {
  width: 442px;
  background: #ffffff;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card::before {
  content: "";
  width: 28px;
  position: absolute;
  height: 40px;
  top: -40px;
  left: 60px;
  background: var(--dark-color);
  border-radius: 24px 24px 0 0;
}

.testimonials-section .testimonial-card:last-child::before {
  left: 40px;
  top: -50px;
  border-radius: 0 0 24px 24px;
  height: calc(100% + 90px);
  z-index: -1;
}

.testimonials-section .testimonial-card .content {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  border-radius: 24px;
  padding: 24px 32px;
  background: var(--light-blue-color);
}

.testimonials-section .testimonial-card:last-child .content {
  background: linear-gradient(90deg, #4554DC 0%, #0A536A 100%);
}


.testimonials-section .testimonial-card .info h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  color: var(--dark-blue-color);
}

.testimonials-section .testimonial-card .info {
  padding: 24px 32px;
  background: #fff;
  border-radius: 24px;
}

.testimonials-section .testimonial-card .info p.company {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: var(--light-blue-color);
}

.testimonials-section .testimonial-card img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 32px;
  bottom: 20px;
}

.testimonials-section .testimonial-card:last-child {
  transform: translateX(20px);
}

.testimonials-section .features {
  margin-bottom: 30px;
}


/* Courses Section */

.courses-section {
  background: linear-gradient(113.78deg, #1E282B 0%, #151A43 99.45%);
  padding: 70px 0;
  padding-bottom: 120px;
}

.courses-section h2 {
  text-align: center;
}

.courses-section .course-cards {
  display: flex;
  gap: 70px;
}

.courses-section .course-cards img {
  width: 100%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
}

.courses-section .course-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 0px 32px;
  margin: 40px 0;
  position: relative;
}

.courses-section .course-card::after {
  content: "";
  height: 8px;
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 0;
  background: var(--dark-blue-color);
  border-radius: 24px;
}

.courses-section .course-card h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 150%;

  color: var(--dark-blue-color);
}

.courses-section .course-card .info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.courses-section .course-card .duration {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
  color: var(--dark-blue-color);
  position: relative;
  padding-left: 20px;
}

.courses-section .course-card .duration::before {
  content: url("assets/icons/Clock.svg");
  position: absolute;
  top: 2px;
  left: -6px;
}

.courses-section .wrapper {
  position: relative;
}

.courses-section .wrapper .btn {
  position: absolute;
  right: 0;
}